/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* Header Styles */
.header-bg {
    background-image: url('https://github.com/archimparmar/e-portfolio/blob/images/header-bg.jpg?raw=true');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

.header-intro {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-info {
    font-size: 1.2rem;
}

/* Section Styles */
.section {
    padding: 60px 0;
}

/* Section Heading Styles */
.section h2 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 35px;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

/* Form Styles */
.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-bottom: 1rem;
}

textarea {
    height: 150px;
    resize: vertical;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Profile Photo Styles */
.profile-photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* Timeline Styles */
.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    list-style: none;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    margin: 0 0 20px;
    padding: 0 20px;
    position: relative;
}

.timeline-item:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.timeline-item h4 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.timeline-item p {
    margin: 0;
}

/* Container Styles */
.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
}

/* Certification List Styles */
.certification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; 
}

.certification-list li {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9;
    display: inline-block;
    width: calc(33.333% - 20px); 
    box-sizing: border-box; 
}

.certification-list li:nth-child(odd) {
    background-color: #e9e9e9;
}

@media (max-width: 768px) {
    .certification-list li {
        width: calc(100% - 20px);
        
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .certification-list li {
        width: 100%; 
    }
}

/* Project Card Styles */
.project-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image Slider Styles */
.image-slider {
    position: relative;
}

.image-slider img {
    display: none;
    width: 100%;
    height: auto;
}

.image-slider img.active {
    display: block;
}

/* Footer Styles */
.footer {
    background: #333;
}

/* Social Media Icons */
@media (max-width: 768px) {
    .social-media-div {
        text-align: center;
    }
}
.social-media-div {
    font-size: 0; /* Remove font-size inheritance */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-button {
    color: white;
    font-size: 24px; /* Size of the icon */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s, opacity 0.3s;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.icon-button i {
    margin: 0; /* Ensure no margin is applied to the icon */
}

.icon-button:hover {
    opacity: 0.8;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
